//COLORS
$primary-color:#272727;
$secondary-color:rgb(212, 96, 0);
$text-color:white;
$images-color:white;
$bg-color:rgb(93, 92, 90);
$border-color:rgb(212, 96, 0);
$active-page: rgb(255, 115, 0);
//SIZE
$header-height:50px;
$title-text-padding:15px;







//functions
@function em($pixels, $basicValue: 16px){
    @return ($pixels / $basicValue) * 1em;
}

@function col-width($columns: 12, $page-width: 100%, $gap: 0.7%){
    @return ($page-width - $gap*($columns - 1)) / $columns;
}

@function resthemebox($columns: 12, $page-width: 100%, $gap: 0%){
    @return ($page-width - $gap*($columns - 1)) / $columns;
}


//mixins

//reusable
@mixin transition {
    transition: all 0.5s ease-in-out;
} 

@mixin border($border:2px solid $border-color) {
    border-bottom: $border;
}
@mixin shadow  ($shadow:1px 1px 8px 1px rgba(255, 166, 0, 0.301)){
    box-shadow: $shadow;
}

@mixin themebox {
    width: 6 * col-width();
}
@mixin resthemebox{
    width: 12 * col-width();
}
//reusable end

//background-page
@mixin background-page {
    height: 100vh;
    padding-top: 40vh;
    overflow:hidden;
    text-align: center;
    align-items: center;
    background: 
    linear-gradient(
        to right,
        rgba(128, 128, 128, 0.183),
        rgba(128, 128, 128, 0.215)
      ),
      url("/images/man-1281562_1920.jpg") center top;
        background-size:cover;
}

//bio-image
@mixin bio-image {
    width: 100%;
    height: 45vh;
    padding-top: 20vh;
    text-align: center;
    overflow: hidden;
    background: 
      linear-gradient(
        to right,
        rgba($images-color, 0.12),
        rgba($primary-color, 0.5)
      ),
      url("/images/man-1281562_1920.jpg") center top;
      background-size:cover;
      background-size: cover;
      margin-bottom: 50px;
}
@mixin bio-image-name {
    font-size: em(45px);
    color: $secondary-color;
    text-shadow: 3px 3px 3px black;
}

@mixin bio-image-name-respon {
    font-size: em(30px);
    color: $secondary-color;
    text-shadow: 3px 3px 3px black;
}

//about
@mixin title {
    color: $secondary-color;
    font-size: em(25px); 
    margin-left: 15px;
}

// responzivita
@mixin largeScreen {
    @media screen and (min-width:2000px){
        @content;  
    }  
}

@mixin mediaScreen {
    @media screen and (max-width:1020px){
        @content;  
    }  
}


@mixin smallScreen {
    @media screen and (max-width:420px){
        @content;  
    }  
}




